/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Akshar:100,100i,300,300i,400,400i,700,700i,900,900i|Akshar&display=swap');

body {
    margin: 0px;
    font-family: Akshar, sans-serif;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#tutorials {
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}

#in-class_work {
    background-color: #755ef6;
    padding-top: 40px;
    padding-bottom: 40px;
}

#homework {
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}

#inspiration {
    background-color: #755ef6;
    padding-top: 40px;
    padding-bottom: 40px;
}
