/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#tutorials {
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}

#in-class_work {
    background-color: #9483f5;
    padding-top: 40px;
    padding-bottom: 40px;
}

#homework {
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}

#inspiration {
    background-color: #9483f5;
    padding-top: 40px;
    padding-bottom: 40px;
}
